<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<!-- common -->
	<meta charset="UTF-8">
	<title>CopyBro</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png?1">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png?1">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png?1">
	<!-- styles -->
	<link rel="stylesheet" href="/css/fonts.css?1">
	<link rel="stylesheet" href="/css/common.css?1">
	<!-- javascript -->
	<script type="text/javascript" src="/js/lib/common.js?1"></script>
	<script type="text/javascript" src="/js/common.js?1"></script>
</head>
  <body class="wrap">
    <header class="header">
      <ul class="nav">
        <li class="nav-logo">
          <a href="/"><img src="/images/logoMobile.svg" alt="company logo" srcset="" width="203px"></a>
        </li>
        <li class="nav-store">
          <a href="#"><img src="/images/googlePlay.svg" alt="Google Play" srcset="" width="40px"></a>
        </li>
        <li class="nav-store">
          <a href="#"><img src="/images/appStore.svg" alt="App Store"  srcset="" width="40px"></a>
        </li>
        <li class="nav-button">
          <a href="#">Установить</a>
        </li>
      </ul>
    </header>
    <section class=" ">
      <div class="wrapper">
        <div class="adv dollar">
          <img class="adv-images" src="/images/dollar.png" alt="" srcset="" width="40px">
          <h3 class="adv-title">от 0,0₽</h3>
          <p class="adv-text">Вы платите <br> только за успех</p>          
        </div>
        <img src="/images/business-3d.png" alt="" srcset="" class="adv-img" width="40px">
        <div class="wrapper">
          <div class="adv time">          
            <h3 class="adv-title">60 мин</h3>
            <p class="adv-text">Сэкономленного <br> времени в день</p>
          </div>
          <img class="adv-time-images" src="/images/watch.png" alt="" srcset="" width="40px">
        </div>
        <div class="adv precent">
          <img class="adv-images" src="/images/precentTop.png" alt="" srcset="" width="40px">
          <h3 class="adv-title">+51,9%</h3>
          <p class="adv-text">Средняя годовая <br> доходность</p>УЦ
        </div>
      </div>
      <div class="news">
        <h2 class="news-title"><span>Инвестируйте легко</span> и получайте доход<span> +51,9% </span>годовых</h2>
        <p class="news-text">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</p>
        <a href="http://" class="news-button"><img src="/images/google play.png" alt="Google Play" srcset="" width="40px"></a>
        <a href="http://" class="news-button"><img src="/images/app store.png" alt="App Store" srcset="" width="40px"></a>
        <a href="http://" class="nav-button">Установить приложение</a>
      </div>
      <div class="hronos">
        <img src="/images/Other 13.png" alt="" srcset="" width="313px">
        <img src="/images/Hourglass 1.png" alt="" srcset="" width="83px" class="hronos-hour">
        <h1 class="hronos-title">Автоследование: <span>минимальные риски,</span> оптимальная доходность </h1>
        <p class="hronos-text">Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии. </p>
      </div>
    </section>
  </body>
</html>